<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h3>Погода в Санкт-Петербурге:</h3>

</h3>
</h3>
</h3>
<a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ru/pogoda/2" target="_blank"><img src="https://info.weather.yandex.net/2/1_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
</h3>
</h3>
</h3>

<p></p>
<a href="allNews">Все новости</a>

</h3>
<h3>Последние 10 новостей:</h3>
</h3>
</h3>


<div th:each="news : ${top10}">
    <p th:text="${news.title}"></p>
    <p th:text="${news.description}"></p>
<!--    <p th:text="${news.link}"></p>-->
<!--    <p th:text="${news.newsDate}"></p>-->
     <p th:text="${#temporals.format(news.newsDate, 'yyyy-MM-dd HH:mm:ss')}">startTime</p>

    <a th:href="${news.url}">Подробнее</a>
    <h1>----------------------------------</h1>
</div>


</body>
</html>